<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewPetBreed</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" />

    <link rel="stylesheet" href="{% static 'mynewstyle.css' %}" >
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function(){
        document.getElementById("countering2").style.display="none"; 
        document.getElementById("countering3").style.display="none"; 
        $(".toggle-btn1").click(function(){
            document.getElementById("countering2").style.display="none";
            document.getElementById("countering3").style.display="none";  
            document.getElementById("countering1").style.display="block";
        });
        
        $(".toggle-btn2").click(function(){
            document.getElementById("countering1").style.display="none";
            document.getElementById("countering3").style.display="none";
            document.getElementById("countering2").style.display="block"; 

        });

        $(".toggle-btn3").click(function(){
            document.getElementById("countering1").style.display="none";
            document.getElementById("countering2").style.display="none";
            document.getElementById("countering3").style.display="block"; 
        });

        
        $(".togglel-btn2").click(function(){
            document.getElementById("countering1").style.display="none";
            document.getElementById("countering3").style.display="none";
            document.getElementById("countering2").style.display="block"; 
            $('#menu .items li').removeClass('active');
            $('#menu .items li:nth-child(2)').addClass('active');
        });

        $(".togglel-btn3").click(function(){
            document.getElementById("countering1").style.display="none";
            document.getElementById("countering2").style.display="none";
            document.getElementById("countering3").style.display="block"; 
            $('#menu .items li').removeClass('active');
            $('#menu .items li:nth-child(3)').addClass('active');

        });

        $("#menu .items li").click(function(){
            $('#menu .items li').removeClass('active');
            $(this).addClass('active');

      });

    
    });
    function myFunction (){
        document.getElementById("signup").submit(); 
    }

    
    </script>

</head>
<body>
    <!-- <section id="newmenu"> -->
    <section id ="menu">
        <div class="logo">
            <img src="/static/DogLogo.png" alt="">
            <h2>PetAuto</h2>
        </div>
            <div class="items">
                
                <!-- <li class="active toggle-btn1"><i class="fas fa-hamburger active"></i><a href="#">Dashboard</a></li>
                <li class="toggle-btn2"><i class="fas fa-chart-pie"></i><a href="#">Dashboard</a></li>
                <li class="toggle-btn3"><i class="fas fa-chart-pie"></i><a href="#">Dashboard</a></li>
                <li><i class="fas fa-chart-pie"></i><a href="#">Dashboard</a></li>
                <li><i class="fas fa-chart-pie"></i><a href="#">Dashboard</a></li>
                <li><i class="fas fa-chart-pie"></i><a href="#">Dashboard</a></li>
                <li><i class="fas fa-chart-pie"></i><a href="#">Dashboard</a></li> -->
                <li class="active toggle-btn1"><i class="fas fa-hamburger active"></i><a href="#">Pet Owner</a></li>
                <!-- <li class="toggle-btn2"><i class="fas fa-hamburger active"></i><a href="#">Pet Breed</a></li> -->
                <li class="toggle-btn3"><i class="fas fa-hamburger active"></i><a href="#">Pet Details</a></li>
                <li class="toggle-btn2"><i class="fas fa-user"></i><a href="#">My Profile</a></li>
                <li class="toggle-btn3"><i class="fas fa-chart-pie"></i><a href="#">About</a></li>
                <li><i class="fas fa-chart-pie"></i><a href="#">Contact</a></li>
            
        </div>
    </section>
    <!-- </section> -->
    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div>
                    <i id="menu-btn" class="fas fa-bars"></i>
                </div>
                <div class="search">
                    <i class="fas fa-search"></i>
                    <input type="search" placeholder="Search">
                </div>
            </div>

            <div class="profile">
                <i class="far fa-bell"></i>
                <img src="/static/DogLogo.png" alt="">
            </div>
        </div>

        
        <h2 class="i-name">
            DashBoard
        </h2>
        <div id="countering2">
        <div class="values">
            <!--<div class="val-box">
                <i class="fas fa-users"></i>
                <div>
                    <h3>82,345</h3>
                    <span>New Users</span>
                </div>
            </div>-->

            <div class="val-box">
                <div class="card">
                    <img src="/static/Doggo2.png" alt="">
                    <div class="cap">
                    <h3>My Doggo</h3>
                    </div>
                    <div class="card_details">
                    <h3>82,345</h3>
                    </div> 
                </div>   
            </div>

            <div class="val-box">
                <div class="card">
                    <img src="/static/Doggo2.png" alt="">
                    <div class="cap">
                    <h3>Your Doggo</h3>
                    </div>
                    <div class="card_details">
                    <h3>82,345</h3>
                    </div> 
                </div>   
            </div>

            <div class="val-box">
                <div class="card">
                    <img src="/static/Doggo2.png" alt="">
                    <div class="cap">
                    <h3>His Doggo</h3>
                    </div>
                    <div class="card_details">
                    <h3>82,345</h3>
                    </div> 
                </div>   
            </div>

 



        </div>

        <div class="values">


            <div class="val-box">
                <div class="card">
                    <img src="/static/Doggo2.png" alt="">
                    <div class="cap">
                    <h3>My Doggo</h3>
                    </div>
                    <div class="card_details">
                    <h3>82,345</h3>
                    </div> 
                </div>   
            </div>

            <div class="val-box">
                <div class="card">
                    <img src="/static/Doggo2.png" alt="">
                    <div class="cap">
                    <h3>Your Doggo</h3>
                    </div>
                    <div class="card_details">
                    <h3>82,345</h3>
                    </div> 
                </div>   
            </div>

            <div class="val-box">
                <div class="card">
                    <img src="/static/Doggo2.png" alt="">
                    <div class="cap">
                    <h3>His Doggo</h3>
                    </div>
                    <div class="card_details">
                    <h3>82,345</h3>
                    </div> 
                </div>   
            </div>

 



        </div>

        <div class="values">

            <div class="val-box">
                <div class="card">
                    <img src="/static/Doggo2.png" alt="">
                    <div class="cap">
                    <h3>My Doggo</h3>
                    </div>
                    <div class="card_details">
                    <h3>82,345</h3>
                    </div> 
                </div>   
            </div>

            <div class="val-box">
                <div class="card">
                    <img src="/static/Doggo2.png" alt="">
                    <div class="cap">
                    <h3>Your Doggo</h3>
                    </div>
                    <div class="card_details">
                    <h3>82,345</h3>
                    </div> 
                </div>   
            </div>

            <div class="val-box">
                <div class="card">
                    <img src="/static/Doggo2.png" alt="">
                    <div class="cap">
                    <h3>His Doggo</h3>
                    </div>
                    <div class="card_details">
                    <h3>82,345</h3>
                    </div> 
                </div>   
            </div>

 



        </div>
        
    <button type="submit" name="count2" class="togglel-btn3 btn btn-submit">NEXT</button>
    </div>


    <div class="container" id = "countering3">

        <form id="signup" action="#" method="POST">
            {% csrf_token %}
            <div class="header">
            
                <h3>Pet Profile</h3>
                
                <!-- <p>Enter Your Detaisl Below...</p> -->
                
            </div>
            
            <div class="sep"></div>
      
            <div class="inputs">
                

                <input type="text" name ="pet_name" placeholder="Name" id="pet_name" autofocus />
                <input type="text" name ="age" placeholder="Age" id="age" autofocus />
                <input type="text" name ="color" placeholder="Color" id="color" autofocus /> 
                
                <!-- <input type="text" name ="owmer_name" placeholder="Name" autofocus />
                <input type="email" name ="email" placeholder="e-mail" autofocus />
                <input type="number" name ="owmer_no" placeholder="Mobile number" autofocus />
                <textarea id= "addr" rows="4" cols="50" name="comment" form="usrform">
                    </textarea>
                <input type="text" name ="city" placeholder="City" autofocus />
                <input type="text" name ="state" placeholder="State" autofocus />
                <input type="number" name ="pincode" placeholder="Pincode" autofocus />
      
      
                <div class="checkboxy">
                    <input name="cecky" id="checky" value="1" type="checkbox" /><label class="terms">I accept the terms of use</label>
                </div>
                
                <a id="submit" href="#">SIGN UP FOR INVITE NOW</a> -->
            
            </div>
            <button type="submit" name="count3" class="btn btn-submit">FINISH</button>
        </form>
        <!--<button onclick="myFunction()">Click me</button> -->
        
      </div>



      <div class="container" id = "countering1">

        <form id="signup" action="#" method="POST">
            {% csrf_token %}
            <div class="header">
            
                <h3>Pet Owner Details</h3>
                
                <!-- <p>Enter Your Detaisl Below...</p> -->
                
            </div>
            
            <div class="sep"></div>
      
            <div class="inputs">
            
                <input type="text" name ="owner_name" placeholder="Name" id="owner_name" autofocus />
                <input type="text" name ="email" placeholder="e-mail" id="email" autofocus />
                <input type="text" name ="owner_no" placeholder="Mobile number" id="owner_no" autofocus /> 
                <!-- <textarea id= "addr" rows="4" cols="50" name="comment" form="usrform">
                    </textarea> -->
                <!-- <input type="text" name ="city" placeholder="City" autofocus />
                <input type="text" name ="state" placeholder="State" autofocus />
                <input type="number" name ="pincode" placeholder="Pincode" autofocus />  -->
      
      
                <!-- <div class="checkboxy">
                    <input name="cecky" id="checky" value="1" type="checkbox" /><label class="terms">I accept the terms of use</label>
                </div> -->
                
                <!-- <a id="submit" href="#">SIGN UP FOR INVITE NOW</a> -->
            
            </div>
            <button type="submit" class="btn btn-submit" name="count1">Save</button>
            <!-- <button type="button" name="count1" class="togglel-btn2">Click me</button> -->
            <!-- <div class="count1" name="count1">Clickme</div> -->
        </form>
        <button class="togglel-btn2 btn btn-submit" >NEXT</button>
        <!--<button onclick="myFunction()">Click me</button> -->
        
      </div>


    </section>
        
        <!-- 44:40 -->


</body>
</html>